.contacts-header {
  display: flex;
  margin-left: auto;
}
.contacts-header .link {
  align-items: center;
}
.contacts-header .link {
  color: var(--primary-text-color);
  fill: currentColor;
}
.contacts-header .item:not(:last-child) {
  margin-right: 50px;
}

.contacts-header .link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: 250ms var(--cubic);
}
.icon-contacts {
  margin-right: 10px;
}
