.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-box:nth-child(1) {
  margin-right: 70px;
}
.footer-box:nth-child(2) {
  margin-right: 93px;
}
