.section.service {
  padding-top: 0;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
}
.service-list .item {
  position: relative;
  width: 370px;
}
.service-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  min-height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--pseudo-bg-color);
}

.service-overlay .text {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-weight: 700;
}
.service-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.service-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
