.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-thumb::before {
  position: absolute;
  content: '';
  display: block;

  width: 100%;
  height: 100%;
  background-color: var(--overlay-secondary);
  transform: translateY(100%);
  transition: 250ms var(--cubic);
}

.porfolio-link:hover .portfolio-thumb::before,
.porfolio-link:focus .portfolio-thumb::before {
  transform: translateY(0);
}

.thumb-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 130%);

  width: 322px;

  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);

  transition: transform 250ms var(--cubic);
}

.porfolio-link:hover .thumb-text,
.porfolio-link:focus .thumb-text {
  transform: translate(-50%, -50%);
}
