.porfolio-link {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--portfolio-border);

  transition: 250ms var(--cubic);
}
.porfolio-link:hover,
.porfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.porfolio-content {
  width: 100%;
  padding: 20px 24px;
}
.porfolio-content .title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.portfolio-list .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
